- @whies = Why.all

= render partial: 'shared/toolbar'

.container
	.row
		.ul
			- @whies.each do |why|
				.li.col-md-2.col-sm-4#reason
					/ = link_to why.title, why
					= link_to why.title, "#"+why.title, data: {toggle: "modal"}
				.modal.fade{role: "dialog", id: why.title}
					.modal-dialog
						.modal-content
							.modal-header
								%h2
								= why.title
								%p 
								= why.content


= link_to "New Reason", "#test", data: {toggle: "modal"}

